.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: none;
  border-bottom: none;
  z-index: 10000;
}

.logoContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.signInButton {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "SF-Pro-Bold", sans-serif;
}

/* Notification Styles */
.notification {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  font-family: "SF-Pro-Regular", sans-serif;
  z-index: 2000;
  justify-content: center; /* Center content horizontally */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .logoContainer {
    position: static;
    transform: none;
    text-align: left;
    margin-right: auto;
  }

  .navbar {
    justify-content: space-between;
  }

  .navLinks {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 100px;
  }

  .signInButton {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
  }
}
