@font-face {
  font-family: "SF-Pro-Semibold";
  src: url("/fonts/sf-pro-display-semibold.woff2") format("woff2"),
       url("/fonts/sf-pro-display-semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Regular";
  src: url("/fonts/sf-pro-display-regular.woff2") format("woff2"),
       url("/fonts/sf-pro-display-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Light";
  src: url("/fonts/sf-pro-display-light.woff2") format("woff2"),
       url("/fonts/sf-pro-display-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: radial-gradient(50% 100% at 50% 0%, #1c1623 0%, #0C090F 100%);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
